.form-weather {
    width: 100%;
    form {
        width: 90%;
        margin: auto;
        margin-top: 1rem;
        .wrap {
            // width: 100%;
            display: flex;
            align-items: center;
            input {
                border-radius: 1rem;
                padding: 1.2rem 2rem;
                margin: 0 0.5rem;
                font-size: 1.6rem;
                width: 40%;

                border: none;
                outline: none;
            }

            input:focus {
                cursor: text;
            }

            button {
                margin: 0 0.5rem;
                width: 20%;
                padding: 1rem 1.2rem;
                font-weight: 600;
                font-size: 1rem;

                border-radius: 10px;
                border: none;
                outline: none;

                color: #38495a;
                box-shadow: 2px 2px 2px #999;
                background: linear-gradient(white, #38495a);
            }

            button:hover {
                opacity: 0.8;
                background-color: #161b20;
                cursor: pointer;
                transition: linear 0.2s;
            }
        }
    }
}

@media (max-width: 500px) {
    .form-weather {
        form {
            width: 90%;
            margin-top: 1rem;
            .wrap {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                margin: auto;
                input {
                    width: 30%;
                    margin: 0 0 0.8rem;
                }

                button {
                    width: 50%;
                    margin: auto;
                }
            }
        }
    }
}
